name: VPN Auto Update
on:
  schedule:
    - cron: '0 */6 * * *' # هر ۶ ساعت یکبار خودکار اجرا شود
  workflow_dispatch: # دکمه اجرای دستی

jobs:
  run_script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Requirements
        run: pip install requests

      - name: Run Collector
        run: python main.py

      - name: Save Results
        run: |
          git config --local user.email "actions@github.com"
          git config --local user.name "GitHub Actions"
          git add results.txt
          git commit -m "Update servers list" || echo "No changes to commit"
          git push
